#name {
	font-family: "Kaushan Script", cursive;
	font-size: 60px;
	text-align: center;
}

#first {
	color: limegreen;
}

#last {
	color: #333d5f;
}

#contact {
	text-align: center;
	margin-top: 20px;
}

.tech-icon {
	width: 30px;
	height: 30px;
}

.social-icon img {
	width: 55px;
	height: 55px;
}

.social-icon:hover {
	opacity: 0.9;
}

.social-icon {	
	padding-right: 55px;
}

.last {
	padding-right: 0px;
}

table {
	width: 320px;
	margin-top: 20px;

	margin-left: auto;
	margin-right: auto;
}

li {
	position: relative;
	width: 20%;

	list-style-type: none;

	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 26px;
}

li:before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	margin-left: -15px;

	width: 0;
	height: 0;
	
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid black;
}